<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Without Subtitles</title>
</head>

<body>
    <div class="container">
        <h1>Without Subtitles</h1>
        <p>Aprendendo inglês com séries? Quer ver tudo sem legenda? Nós te ajudamos a saber se você
            consegue assistir aquele episódio sem legenda.</p>


    <div class="row">
        <div class="col-xs-5">
            <form action = "/uploader" method = "POST"
                  enctype = "multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputFile">Insira a Legenda do Episódio ou Filme</label>
                    <input type="file" class="form-control-file" name="file">
                    <small id="fileHelp" class="form-text text-muted">O arquivo srt deve conter a legenda em INGLÊS.</small>
                </div>

                <input class="btn btn-success" type = "submit"/>
            </form>


        </div>
    </div>
    </div>
</body>
</html>

